
.donaciones-header {
    padding: 80px 20px;
    text-align: center;
    color: white;
    background-color: crimson;
    font-size: 2.5rem;
    font-weight: bold;
    margin: 0;
}

.donaciones-intro h1 {
    font-size: 2.3rem;
    color: crimson;
    margin-bottom: 20px;
}

.donaciones-intro p {
    max-width: 900px;
    margin: 0 auto;
    font-size: 1.3rem;
    line-height: 1.6;
}



/* TARJETAS */
.donaciones-tarjetas {
    width: 100%;
    padding: 60px 5%;
    text-align: center;
    box-sizing: border-box;
}

.donaciones-tarjetas h2 {
    color: crimson;
    font-size: 2rem;
    margin-bottom: 40px;
}

.donaciones-contenedor {
    display: flex;
    justify-content: center;   
    align-items: flex-start;
    flex-wrap: wrap;           
    gap: 30px;
}

.don-card {
    width: 300px;
    background: white;
    border-radius: 15px;       
    box-shadow: 0px 4px 15px rgba(0,0,0,0.15);
    overflow: hidden;
    transition: transform 0.3s ease;
    text-align: center;
}

.don-card:hover {
    transform: translateY(-5px);
}

.don-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.don-card h3 {
    color: crimson;
    font-size: 1.4rem;
    margin-top: 15px;
}

.don-card p {
    padding: 0 20px 25px;
    line-height: 1.6;
    font-size: 1.1rem;
    color: #333;
}



/* DATOS BANCARIOS */
.donaciones-banco {
    width: 100%;
    padding: 60px 5%;
    text-align: center;
    background: #fafafa;      
    box-sizing: border-box;
}

.donaciones-banco h2 {
    color: crimson;
    font-size: 2rem;
    margin-bottom: 15px;
}

.cuentas {
    display: flex;
    justify-content: center;   
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 40px;
}

.cuenta {
    background: white;
    padding: 25px;
    border-radius: 12px;
    width: 280px;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.10);
    text-align: center;
}

.cuenta h3 {
    color: crimson;
    font-size: 1.3rem;
    margin-bottom: 10px;
}



/* CONTACTO */
.don-contacto {
    width: 100%;
    padding: 60px 5%;
    text-align: center;
    box-sizing: border-box;
}

.don-contacto h2 {
    color: crimson;
    font-size: 2rem;
    margin-bottom: 20px;
}

.correo,
.telefono {
    font-size: 1.3rem;
    margin-top: 10px;
    font-weight: bold;
    color: #444;
}
