/* INTRO BECAS */
.becas-intro {
    width: 100%;
    padding: 60px 5%;
    text-align: center;
    box-sizing: border-box;
}

.becas-intro h1 {
    font-size: 2.3rem;
    color: crimson;
    margin-bottom: 20px;
}

.becas-intro p {
    max-width: 900px;
    margin: 0 auto;
    font-size: 1.3rem;
    line-height: 1.6;
}


/* TARJETAS BECAS */
.becas-tarjetas {
    width: 100%;
    padding: 60px 5%;
    text-align: center;
    box-sizing: border-box;
}

.becas-tarjetas h2 {
    color: crimson;
    font-size: 2rem;
    margin-bottom: 40px;
}

.becas-contenedor {
    display: flex;
    justify-content: center;   
    align-items: flex-start;
    flex-wrap: wrap;           
    gap: 30px;
}

.beca-card {
    width: 300px;
    background: white;
    border-radius: 15px;       
    box-shadow: 0px 4px 15px rgba(0,0,0,0.15);
    overflow: hidden;
    transition: transform 0.3s ease;
    text-align: center;
}

.beca-card:hover {
    transform: translateY(-5px);
}

.beca-card img {
    width: 70%;
    height: 150px;
    object-fit:scale-down;
}

.beca-card h3 {
    color: crimson;
    font-size: 1.4rem;
    margin-top: 15px;
}

.beca-card p {
    padding: 0 20px 25px;
    line-height: 1.6;
    font-size: 1.1rem;
    color: #333;
}


/* CONTACTO BECAS */
.becas-contacto {
    width: 100%;
    padding: 60px 5%;
    text-align: center;
    box-sizing: border-box;
}

.becas-contacto h2 {
    color: crimson;
    font-size: 2rem;
    margin-bottom: 20px;
}

.correo,
.telefono {
    font-size: 1.3rem;
    margin-top: 10px;
    font-weight: bold;
    color: #444;
}

/* BECAS HEADER (similar a .bienvenida) */
.becas-header {
    padding: 80px 20px;
    text-align: center;
    color: white;
    background-color: crimson;
    font-size: 2.5rem;
    font-weight: bold;
    margin: 0;
}
