body {
    margin: 0;
    background-color: #ffffff;
}

header {
    display: flex;
    align-items: center;
    background-color: crimson;
    color: #fff;
    padding: 10px 40px;
}
header img {
    width: 48px;
    height: 48px;
    padding: 1rem;
}
.branding 
{
    display: flex;
    gap:5px;
}
.searchform
{
    margin: 1rem;
}
nav ul {
    list-style: none;
    display: flex;
    gap: 25px;
    margin: 10px;
    padding: 2px;
}

nav a {
    color: white;
}
.contadores
{
    margin-left: auto;
    display: flex;
    gap: 15px;
}
footer {
    background-color: crimson;
    color: white;
    text-align: center;
    padding: 20px;
}